.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }

  .image{
   
    margin-right: -28rem;
  }

  .image img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 20px;
   
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  @media only screen and (max-width: 600px) {
    .image{
      margin-right: 20px;
    }
    image img{
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    
    .meal h3 {
      
      font-size: 20px;
    }
    .description {
      font-style: italic;
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 900px) {
    .image{
      margin-right: 20px;
    }
    image img{
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    
    .meal h3 {
      
      font-size: 20px;
    }
    .description {
      font-style: italic;
      font-size: 10px;
    }
    
  }

 
  @media only screen and (max-width: 420px) {
    .image{
      margin-right: 20px;
    }
    image img{
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    
    .meal h3 {
      
      font-size: 20px;
    }
    .description {
      font-style: italic;
      font-size: 10px;
    }
  }
